@model List<Сomment>
<div id="comments">
    <h4>Comments</h4>
    @foreach (var item in @Model)
    {
        <ul class="commentlist">
            <li class="comment_odd">
                <div class="author"><img class="avatar" src="~/images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">@item.Name</a></span> <span class="wrote">wrote:</span></div>
                <div class="submitdate"><a href="#">@item.Date</a></div>
                <p>@item.Content</p>
            </li>
        </ul>
    }
</div>
<h4>Write A Comment</h4>
<div id="respond">
    <form asp-action="AddComment" asp-controller="Home" method="post">
        <p>
            <input type="text" required name="Name" id="name" size="22" />
            <label for="Name"><small>Name (required)</small></label>
        </p>
        <p>
            <input type="text" required name="Email" id="email" size="22" />
            <label for="Email"><small>Mail (required)</small></label>
        </p>
        <p>
            <textarea name="Content" id="comment" rows="10"></textarea>
            <label for="Content" style="display:none;"><small>Comment (required)</small></label>
        </p>
        <input type="hidden" name="PostTitle" value="@ViewData["Title"]" />
        <p>
            <input name="submit" type="submit" id="submit" value="Submit" />
            &nbsp;
            <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form" />
        </p>
    </form>
</div>