
@{
    ViewData["Title"] = "Elephant";
}
<br class="clear">
<h1>Африканских слонов больше нельзя ловить и перевозить на далёкие расстояния (за редкими исключениями).</h1>
<br class="clear">
<h3>
    Благодаря новой резолюции СИТЕС, слонов из Ботсваны, Зимбабве, Намибии и Южной Африки можно экспортировать только в другие африканские страны, где слоны живут или привыкли жить. 
    Исключения составят случаи, когда будет доказано, что их перемещение в другое место необходима для сохранения вида. Это решение прекращает практику продажи пойманных в дикой природе слонов зоопаркам по всему миру.
    Исследования показали, что слоны — очень интеллигентные, социальные существа, которые на протяжении всей жизни создают связи с другими животными. Они оплакивают умерших членов своей группы и способны, среди прочего, на сочувствие.
    «Запрет на похищение слонят из дикой природы для содержания их в зоопарках является огромной победой для защиты животных», — отметил Фрэнк Поуп, генеральный директор некоммерческой организации Save the Elephants в Найроби, в момент принятия решения.
</h3>

