@model List<Сomment>
@{
    ViewData["Title"] = "Entertainment";
}

<br class="clear">
<div class="text-center">
    <h1>Катание на сапбордах, фитнес и развлечения: в Анапе отмечают день молодежи</h1>
    <br class="clear">
    <h5>Праздник продлится до самого вечера.</h5>
    <br class="clear">
    <img class="img-centre" src="~/images/demo/centre3.jpg" alt="">
</div>
<br class="clear">
<h5>
    В Анапе отмечают Международный день молодежи. Жители и гости курорта принимают участие в фестивале молодежных видов спорта «PROдвижение». Для детей организовали отдельные спортивные и творческие площадки.
    Самым ярким событием стало катание на сапбордах. Сначала для участников заплыва провели мастер-класс на песке, а потом вместе с инструктором желающие поплавали в море. Те, кто не успел утром прогуляться по морю на сапборде, могут присоединиться к заплыву вечером.
    Большую тренировку провели сотрудники одного из клубов фитнеса курорта. Тренеры рассказали и показали правильные упражнения для улучшения фигуры.
    Для самых маленьких организовали спортивную зону, где дети перетягивают канаты, играют в подвижные игры и поднимают большую, но легкую штангу. В творческом уголке дети рисовали и участвовали в мастер-классах по изготовлению поделок.
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>
