
@{
    ViewData["Title"] = "Environment";
}

<br class="clear">
<h1 class="text-center">Минцифры России анонсировало платформу для отслеживания состояния окружающей среды</h1>
<br class="clear">
<h6>31 мая 2022, 19:44</h6>
<br class="clear">
<h5>
    Министерство цифрового развития, связи и массовых коммуникаций России презентует платформу для отслеживания состояния окружающей среды на сессии «Зелёная цифра.
    Современные технологии на защите природы» 2 июня.
</h5>
<br class="clear">
<img class="img-centre" src="~/images/demo/centre12.jpg" alt="">
<br class="clear">
<h5>
    <p>«Платформа собирает данные о состоянии окружающей среды и строит прогнозную модель распространения загрязнений, передаёт данные о нарушениях в разработанную Минцифры систему контроля», — говорится в сообщении.</p>
    <p>В ведомстве пояснили, что разработанная система сама формирует документы и отправляет информацию в нужные ведомства. После этого на проверку выезжает инспектор. Фото с места инцидента инспектор загружает в специальное приложение.</p>
    <p>Ранее Минцифры России объявило о создании до конца года единой облачной платформы. На ней, как уточняется, заказчики смогут получать облачные решения без торгов.</p>
</h5>

