@model List<Сomment>
@{
    ViewData["Title"] = "Games";
}

<h2><strong>В Weird West запустили бета-тестирование модов</strong></h2>
<br class="clear">
<h5>
    <p>
        Обладатели Steam-версии Weird West могут присоединиться к бета-тестированию модов. Созданные во время «беты» модификации затем перенесут в игру.
    </p>
    <p>
        Игроки могут открыть страницу с модами из главного меню. Разработчики уже подготовили четыре модификации на пробу. 
        А в дальнейшем пообещали «расширение-сюрприз».
    </p>
</h5>
<br class="clear">
<img class="img-centre" src="~/images/demo/games.jpg" alt="">
<br class="clear">
<h5>
    <P>
        Поддерживать моды будут через платформу mod.io. Там же разместили инструкцию, как пользоваться инструментарием. Оставлять свои замечания по функции можно на Discord-сервере игры.
    </P>
    <P>
        Полноценная поддержка модификаций появится в патче 1.05, который выйдет после 21 ноября.
    </P>
    <P>
        В конце сентября разработчики открыли бесплатный доступ к первой главе Weird West. Скачать игру можно в Steam.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

