@model List<Сomment>
@{
    ViewData["Title"] = "GoodNews";
}

<br class="clear">
<div class="text-center">
    <h2>
        <strong>В Китае появился трамвай без рельсов и проводов</strong>
    </h2>
    <br class="clear">
    <img class="img-centre" src="~/images/demo/right33.jpg" alt="">
</div>
<br class="clear">
<h5>
    <strong>
        Новый вид экологического городского транспорта движется по специальной дорожной разметке. В качестве источника топлива используются быстрозаряжаемые аккумуляторы.
    </strong>
</h5>
<br class="clear">
<h5>
    <P>
        Китайская транспортная компания CRRC приступила к внедрению нового типа городского общественного транспорта. Он представляет собой что-то среднее между автобусом, троллейбусом и трамваем, сочетая в себе лучшие качества каждого из перечисленных видов транспорта.
        От электротранспорта новое средство перевозки взяло экологичность, а от автобусов - маневренность и отсутствие необходимости в создании специальной инфраструктуры (прокладки рельсов и монтажа проводов).
    </P>
    <P>
        Новая система получила название ART (Autonomous Rail Rapid Transit - автономный рельсовый скоростной транспорт). Впрочем, рельсы тут довольно условные - ими можно считать разве что специальную двойную пунктирную разметку.
        Каждый состав включает в себя три вагона, вмещающие все вместе до 307 пассажиров. Такой «поезд» может двигаться по городу со скоростью до 70 километров в час. От троллейбуса и трамвая он отличается большей маневренностью, так как передвигается вдоль специальной разметки, а не по рельсам или электрическим проводам.
    </P>
    <P>Испытания системы ART начались еще в июне 2017 года. Теперь же первые составы длиной 32 метра выехали на дороги города Чжучжоу и начали перевозить пассажиров. При необходимости из трёхвагонных они могут быть быстро переделаны в двух- или четырёхвагонные.</P>
    <P>
        На одном заряде батареи состав из трех вагонов может пройти всего 25 километров, однако, по мнению разработчиков, это не является проблемой - ведь для того, чтобы полностью зарядить аккумулятор, нужно всего 10 минут. Поскольку ART не нужны ни рельсы, ни провода, то внедрение в систему общественного транспорта города
        обойдётся дешевле, чем прокладка трамвайных и троллейбусных маршрутов. Вдобавок такие автобусотрамваи в случае необходимости могут легко и быстро менять свои маршруты.
    </P>
    <P>Поскольку ART — это электрический транспорт, не выделяющий выхлопных газов, то для Китая это особенно актуально. Экологическая ситуация в городах КНР традиционно тяжелая. В этой связи власти всерьёз рассматривают планы по полному отказу от производства дизельных и бензиновых автомобилей и переходу на электротранспорт.</P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

