@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div  class="container">
        <div class="content">
            <div id="featured_slide">
                <div class="gallery" style="visibility: visible; padding: 0px; position: relative; width: 630px; height: 387px;">
                    <div class="panel" style="width: 600px; height: 350px; position: absolute; overflow: hidden; top: 15px; left: 15px; display: block;">
                        <img src="~/images/demo/1.jpg" style="height: 280px; width: 600px; position: relative; top: 0px; left: 0px;">
                        <div class="panel-overlay" style="position: absolute; z-index: 999; width: 580px; left: 0px; bottom: 0px;">
                            <h2>Дефицит не при чем: почему "взлетели" цены на бензин?</h2>
                            <p>
                                <a asp-controller="Home" asp-action="NewsWorld">
                                    Специалисты заявляют, что причина высоких цен на топливо кроется<br>
                                </a>
                            </p>
                        </div>
                        <div class="overlay-background" style="position: absolute; z-index: 998; width: 600px; left: 0px; opacity: 0.7; bottom: 0px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <ul class="latestnews">
                <li>
                    <img class="img-right" src="~/images/demo/right1.jpg" alt="">
                    <p>
                        <strong><a asp-controller="Home" asp-action="NewsEcology">Растения замедлили прирост углекислого газа в атмосфере Земли.</a></strong> На протяжении последних 12 лет темп прироста CO2 на планете оставался неизменным. Учёные утверждают, что увеличение числа вредных выбросов компенсируется растениями, всё больше поглощающими углекислоту.
                    </p>
                </li>
                <li>
                    <img class="img-right" src="~/images/demo/right2.jpg" alt="">
                    <p><strong><a asp-controller="Home" asp-action="NewsInteresting">На орбите Земли планируют построить космический отель</a></strong> Через четыре года начнётся реализация грандиозного проекта по строительству туристического комплекса на 400 мест в космическом пространстве.</p>
                </li>
                <li class="last">
                    <img class="img-right" src="~/images/demo/right3.jpg" alt="">
                    <p>
                        <strong><a asp-controller="Home" asp-action="GoodNews">Хорошие новости мира.</a></strong> Новый вид экологического городского транспорта движется по специальной дорожной разметке. В качестве источника топлива используются быстрозаряжаемые аккумуляторы.
                    </p>
                </li>
            </ul>
        </div>
        <br class="clear">
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
    <div id="adblock">
        <div class="fl_left"><a href="#"><img src="~/images/demo/.jpg" alt=""></a></div>
        <div class="fl_right"><a href="#"><img src="~/images/demo/centre11.jpg" alt=""></a></div>
        <br class="clear">
    </div>
    <div id="hpage_cats">
        <div class="fl_left">
            <h2><a asp-controller="Home" asp-action="Environment">Environment »</a></h2>
            <img class="img-right" src="~/images/demo/centre12.jpg" alt="">
            <p><strong><a asp-controller="Home" asp-action="Environment">Минцифры России анонсировало платформу для отслеживания состояния окружающей среды.</a></strong></p>
            <p>Министерство цифрового развития, связи и массовых коммуникаций России презентует платформу для отслеживания состояния окружающей среды на сессии «Зелёная цифра.</p>
        </div>
        <div class="fl_right">
            <h2><a asp-controller="Home" asp-action="Technology">Technology »</a></h2>
            <img class="img-right" src="~/images/demo/centre2.jpg" alt="">
            <p><strong><a asp-controller="Home" asp-action="Technology">Финансисты освоят квантовые технологии.</a></strong></p>
            <p>"Фин­тех Хаб" Бан­ка Рос­сии сов­мес­тно с Рос­сий­ским кван­то­вым цен­тром (РКЦ) за­пус­ти­ли об­ра­зова­тель­ную прог­рамму по при­мене­нию кван­то­вых тех­но­логий для прик­ладных за­дач фи­нан­со­вого рын­ка.</p>
        </div>
        <br class="clear">
        <div class="fl_left">
            <h2><a asp-controller="Home" asp-action="Entertainment">Entertainment »</a></h2>
            <img class="img-right" src="~/images/demo/centre3.jpg" alt="">
            <p><strong><a asp-controller="Home" asp-action="Entertainment">Катание на сапбордах, фитнес и развлечения: в Анапе отмечают день молодежи.</a></strong></p>
            <p>В Анапе отмечают Международный день молодежи. Жители и гости курорта принимают участие в фестивале молодежных видов спорта «PROдвижение». </p>
        </div>
        <div class="fl_right">
            <h2><a asp-controller="Home" asp-action="Politics">Politics »</a></h2>
            <img class="img-right" src="~/images/demo/centre4.jpg" alt="">
            <p><strong><a asp-controller="Home" asp-action="Politics">Международный саммит COP26: аналитическая карта.</a></strong></p>
            <p>01 ноября мировые лидеры собрались в Глазго с целью поиска решений климатического кризиса. Какие решения были приняты и к чему они приведут, читайте далее.</p>
        </div>
        <br class="clear">
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
    <div class="container">
        <div class="content">
            <div id="hpage_latest">
                <h2>Only good news</h2>
                <ul>
                    <li>
                        <img class="img-bottom" src="~/images/demo/bottom1.jpg" alt="">
                        <p>Каждый год в России будут появляться 100 тысяч новых мест в школах.</p>
                        <p>Вице-премьер российского правительства поделилась с журналистами планами.</p>
                        <p class="readmore"><a asp-controller="Home" asp-action="OnlyGoodleft">Continue Reading »</a></p>
                    </li>
                    <li>
                        <img class="img-bottom" src="~/images/demo/bottom2.jpg" alt="">
                        <p>Самый длинный в мире пассажирский поезд пустили на один день в Швейцарии.</p>
                        <p>Этот пассажирский поезд попал в Книгу рекордов Гиннесса как самый длинный в мире.</p>
                        <p class="readmore"><a asp-controller="Home" asp-action="OnlyGoodCentre">Continue Reading »</a></p>
                    </li>
                    <li class="last">
                        <img class="img-bottom" src="~/images/demo/bottom5.jpg" alt="">
                        <p>Африканских слонов больше нельзя ловить и перевозить на далёкие расстояния.</p>
                        <p>Благодаря новой резолюции СИТЕС, слонов из Ботсваны, Зимбабве, Намибии и</p>
                        <p class="readmore"><a asp-controller="Home" asp-action="OnlyGoodRight">Continue Reading »</a></p>
                    </li>
                </ul>
                <br class="clear">
            </div>
        </div>
        <div class="column">
            <div class="holder"><a href="#"><img class="img-bottom-right" src="~/images/demo/bottomright.jpg" alt=""></a></div>
            <div class="holder"><a target="_blank" href="https://yandex.ru/video/preview/11761623189728310791"><img class="img-reklama" src="images/demo/reklama.jpg" alt=""></a></div>
        </div>
        <br class="clear">
    </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
    <div id="footer">
        <div class="footbox">
            <h2>Delectus news</h2>
            <ul>
                <li><a asp-controller="Home" asp-action="Games">В Weird West запустили бета-тестирование модов</a></li>
                <li><a asp-controller="Home" asp-action="Journeys">Путешествия: куда и когда лучше полететь, — эксперт</a></li>
                <li class="last"><a asp-controller="Home" asp-action="OnlyGoodleft">Каждый год в России будут появляться 100 тысяч новых мест в школах</a></li>
            </ul>
        </div>
        <div class="footbox">
            <h2>Delectus news</h2>
            <ul>
                <li><a asp-controller="Home" asp-action="Politics">Международный саммит COP26</a></li>
                <li><a asp-controller="Home" asp-action="Sport">Скандал: в Бельгии футбольный клуб подделывал тесты COVID-19</a></li>
                <li class="last"><a asp-controller="Home" asp-action="Technology">Финансисты освоят квантовые технологии</a></li>
            </ul>
        </div>
        <div class="footbox">
            <h2>Delectus news</h2>
            <ul>
                <li><a asp-controller="Home" asp-action="NewsInteresting">На орбите Земли планируют построить космический отель</a></li>
                <li><a asp-controller="Home" asp-action="GoodNews">В Китае появился трамвай без рельсов и проводов</a></li>
                <li class="last"><a asp-controller="Home" asp-action="NewsEcology">Растения замедлили прирост углекислого газа</a></li>
            </ul>
        </div>
        <div class="footbox">
            <h2>Delectus news</h2>
            <ul>
                <li><a asp-controller="Home" asp-action="Environment">Минцифры России анонсировало платформу</a></li>
                <li><a asp-controller="Home" asp-action="Entertainment">Катание на сапбордах, фитнес и развлечения</a></li>
                <li class="last"><a asp-controller="Home" asp-action="OnlyGoodCentre">Этот пассажирский поезд попал в Книгу рекордов Гиннесса</a></li>
            </ul>
        </div>
        <div class="footbox last">
            <h2>Delectus news</h2>
            <ul>
                <li><a asp-controller="Home" asp-action="GoodNews">Появился новый вид экологического городского транспорта</a></li>
                <li><a asp-controller="Home" asp-action="OnlyGoodRight">Африканских слонов больше нельзя ловить и перевозить</a></li>
                <li class="last"><a asp-controller="Home" asp-action="Environment">Современные технологии на защите природы</a></li>
            </ul>
        </div>
        <br class="clear">
    </div>
</div>
