@model List<Сomment>
@{
    ViewData["Title"] = "Journeys";
}

<h2><strong>Путешествия: куда и когда лучше полететь, — эксперт</strong></h2>
<br class="clear">
<h5>
    <p>
        Стоимость путешествий на новогодние праздники по всем направлениям вырастет в два раза. Поэтому руководительница «Школы туризма» Анастасия Проскура советует планировать поездку до или после. Сейчас наиболее популярным является экотуризм. 
        Граждане начали искать места, где бы они смогли отдохнуть от инфраструктуры и технологий, передаёт Информ-UA.
    </p>
    <p>
        В последние годы граждане Украины больше путешествовали в Турцию и Египет. Сейчас же тенденция на экотуризм.
    </p>
</h5>
<br class="clear">
<img class="img-centre" src="~/images/demo/Journeys.jpg" alt="">
<br class="clear">
<h5>
    <P>
        Все хотят попробовать новае — забытое старое, заняться экотуризмом. Люди устали от технологий, они хотят познакомиться с традициями более диких стран, где есть природа, необычные, непересекающиеся с нашими традиции. Экотуризм — это ближе к природе, максимально нетронутой. 
        Можно найти такие участки земли, где нет инфраструктуры, там чистый воздух, много зелени. Это Марокко, Непал, Индия, Танзания, Намибия. 
        Сейчас у граждан Украины есть возможность легко попасть во многие страны, туда не нужна какая-то особенная виза, — рассказывает руководительница «Школы туризма» Анастасия Проскура.
    </P>
    <P>
        Эксперта в сфере туризма советует тем, кто хочет отдохнуть от городской жизни, посетить Доминиканскую республику:
        Доминикана прекрасная страна, она очень бедная, хотя туда приезжают очень богатые туристы. Для такого путешествия необходимо быть готовым увидеть эту бедноту, разруху. На картинке всё красиво, а то, что за кадром, не показывают, ведь турист попросту не поедет туда. 
        Прелесть в том, что люди устают от города, постоянного стресса, думают, что где-то там лучше. И вот когда приезжают, сравнивают, и понимают, что Украина богатая страна, расслабляются, и дальше идут по жизни с хорошим настроением.
    </P>
    <P>
        Многие люди боятся путешествовать из-за того, что не знают иностранных языков. Но, как говорит Анастасия Проскура, учитывая современные технологии, это не проблема:
        Онлайн-переводчик вам в помощь. К тому же, например в Испании, многие не знают английского языка. Они не видят смысла его учить, если испанский знают 80 процентов населения в мире. Поэтому не нужно бояться, стоит просто взять билет и полететь. 
        Когда ты покупаешь билет, тебя это уже обязывает. Тогда уже всё начинает подстраиваться под путешествие. А когда ты просто об этом говоришь и ничего не делаешь — толку не будет.
    </P>
    <P>
        Также на сегодняшний день существует достаточно большое количество разновидностей туризма, один из которых — изучение иностранных языков.
        Если ты учишь французский язык, то за полторы тысячи евро в Париже за неделю могут помочь в его изучении. Но при этом необходимо знать английский язык, так как обучение будет происходить именно на нём. 
        Сейчас многие родители отправляют своих детей по таким программам, мир открыт, и люди хотят дать своим детям то, чего не было у них самих, — говорит Анастасия Проскура.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

