@model List<Сomment>
@{
    ViewData["Title"] = "NewsWorld";
}

<br class="clear">
<div class="text-center">
    <h2>
        <strong>Дефицит не при чем: почему "взлетели" цены на бензин?</strong>
    </h2>
</div>
<br class="clear">
<h5>
    Специалисты заявляют, что причина высоких цен на топливо кроется не в его дефицита, а в огромном спросе. С такой мыслью выступил директор консалтинговой группы А-95 Сергей Куюн.
</h5>
<br class="clear">
<img class="img-centre" src="~/images/demo/azs.jpg" alt="">
<br class="clear">
<h5>
    <P>
        С начала военных действий бензин, автомобильный газ и дизельное топливо стремительно дорожали. Отмечается, что цены поднялись во всех ведущих сетях АЗС. Это объяснялось двумя причинами - повышением курса доллара и ростом цены на нефть. 
        Кроме того, топливо, транспортируемое из Европы, необходимо было ждать, так как его поставка также занимает определенное количество времени. Поезда с нефтепродуктами из Европейского Союза находились на таможне гораздо дольше, чем это ожидалось и чем было ранее.
    </P>
    <P>
        Вопрос дефицита горючего особо остро стал в конце апреля 2022 года, поэтому с целью снизить спрос Кабинетом Министров Украины было принято решение о повышении цен на топливо до сорока процентов. Однако проблему это не решило никаким образом - спрос остался все таким же высоким.
    </P>
    <P>
        Уже 17 мая ценовое регулирование было остановлено, после чего стоимость бензина, автогаза и дизеля должна прекратить свой рост. 
        В настоящее время АЗС стараются в первую очередь обеспечить топливом авто спецслужб и служб критической инфраструктуры, а также транспортные средства, которые используются для эвакуации из горячих точек и транспортировки гуманитарной помощи.
    </P>
    <P>
        В настоящее время АЗС стараются в первую очередь обеспечить топливом авто спецслужб и служб критической инфраструктуры, а также транспортные средства, которые используются для эвакуации из горячих точек и транспортировки гуманитарной помощи.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

