@model List<Сomment>
@{
    ViewData["Title"] = "NewsInteresting";
}

<br class="clear">
<div class="text-center">
    <h2>
        <strong>На орбите Земли планируют построить космический отель</strong>
    </h2>
</div>
<br class="clear">
<h5>
    Через четыре года начнётся реализация грандиозного проекта по строительству туристического комплекса на 400 мест в космическом пространстве. 
    Заниматься космической стройкой будет компания Orbital Assembly. Подробности – в материале Информ-UA. Инициаторы столь амбициозного проекта, как сообщают иностранные СМИ,  заявили, что отель будет находиться на околоземной орбите. 
    Строительство обещают завершить в течение двух лет, постояльцы смогут заселиться в необычные номера космического отеля "Вояджер" в 2027-ом году, обещают разработчики проекта по космическому туризму.
</h5>
<br class="clear">
<img class="img-centre" src="~/images/demo/kosmicheskiy-otely.jpg" alt="">
<br class="clear">
<h5>
    <P>
        Комплекс внешне будет похож на огромное кольцо, вращающееся вокруг своей оси. Таким образом будет создаваться искусственным путём гравитация в номерах и других помещениях космической гостиницы. 
        Туристы будут жить в капсулах. В качестве развлечений проектировщики предложили разместить на "Вояджере" рестораны, кинотеатры, а так же тренажерные залы, салоны красоты и спа-центр.
    </P>
    <P>
        Предполагается, что некоторые модули предложат выкупить правительствам разных стран. Если появятся другие покупатели – организации или же частные лица, им тоже не будет отказано. 
        Владельцы отдельных капсул смогут зарабатывать, сдавая их в аренду.
    </P>
    <P>
        Сколько будет стоить будущее грандиозное строительство, пока неизвестно, но корпорация настроена решительно и надеется, что материалы на орбиту будут доставлять корабли компании Илона Маска SpaceX.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>


