@model List<Сomment>
@{
    ViewData["Title"] = "NewsEcology";
}

<br class="clear">
<div class="text-center">
    <h1>
        Растения замедлили прирост углекислого газа в атмосфере Земли
    </h1>
    <br class="clear">
    <img class="img-centre" src="~/images/demo/rightEcology.jpg" alt="">
</div>
<br class="clear">
<h5>
    <strong>
        На протяжении последних 12 лет темп прироста CO2 на планете оставался неизменным. Учёные утверждают, что увеличение числа вредных выбросов компенсируется растениями, всё больше поглощающими углекислоту.
    </strong>
</h5>
<br class="clear">
<h5>
    <P>
        Исследователи научного центра Berkley Lab из Калифорнии считают, что увеличение количества углекислого газа в атмосфере Земли вызвало рост интенсивности фотосинтеза зелёных растений. В последние годы они всё активнее перерабатывают CO2 в кислород. 
        Как отмечается в публикации учёного Тревора Кинана, вышедшей в ноябре 2016 года в журнале Nature, объём вредных выбросов в окружающую среду рос значительными темпами в последние 4 десятилетия XX века. Однако в период с 2002 по 2014 годы прирост остановился и сохранялся на уровне 1,9 ppm ежегодно.
    </P>
    <P>
        Это оптимистичное наблюдение Кинан объясняет так: чем больше в атмосфере становится углекислого газа, тем более активно его начинают перерабатывать растения, появляется всё больше зелени, активно поглощающей CO2. По мнению исследователей, это вовсе не означает, что человечество может успокоиться. Прирост вредных веществ в атмосфере сохраняется, просто он стал менее интенсивным, чем раньше. 
        Хорошие новости о сокращении прироста объёма углекислоты свидетельствуют лишь о том, что надежда для решения проблемы есть. Для этого надо выявить и взять под защиту те экосистемы, которые наиболее интенсивно начали вырабатывать кислород в последние годы.
    </P>
    <P>
        Добавим, что на данный момент под воздействием деятельности людей содержание CO2 в атмосфере Земли доходит до 400 ppm - то есть, в одном кубометре воздуха содержится 400 миллилитров углекислого газа. Этот показатель продолжает увеличиваться, хотя и медленнее, чем во второй половине прошлого столетия. Это подтверждается и в одном из докладов ООН. 
        В связи с этим в нынешнем веке ожидается рост температуры на 3 градуса. В то же время Парижские соглашения по климату ставят перед человечеством цель ограничить потепление полутора градусами. Для того, чтобы добиться такого показателя, всем странам нужно минимум на треть сократить вредные выбросы. 
        В то время, пока человечество пытается решить, каким образом это сделать, природа словно сама приходит нам на помощь - растения начинают поглощать углекислый газ всё интенсивнее.
    </P>
    <P>
        Способность растений к фотосинтезу (переработке углекислого газа в кислород) известна давно. Особенно важна она в крупных городах. Помимо переработки CO2 в мегаполисах зелёные насаждения помогают снизить содержание твёрдых веществ в воздухе, смягчить последствия глобального потепления, таких как необычная жара. 
        Благотворительная экологическая организация The Nature Conservancy подсчитала, что вложение 100 миллионов долларов в посадку новых деревьев, способно обеспечивать более чистым воздухом и прохладой порядка 70 миллионов людей. Получается, что расходы в размере всего около полутора долларов на одного человека могут существенно улучшить экологическую обстановку.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

