@model List<Сomment>
@{
    ViewData["Title"] = "OnlyGoodCentre";
}

<br class="clear">
<div class="text-center">
    <h2>
        САМЫЙ ДЛИННЫЙ В МИРЕ ПАССАЖИРСКИЙ ПОЕЗД ПУСТИЛИ НА ОДИН ДЕНЬ В ШВЕЙЦАРИИ
    </h2>
</div>
<br class="clear">
<h6>31.10.2022</h6>
<br class="clear">
<img class="img-centre" src="~/images/demo/bottom2.jpg" alt="">
<br class="clear">
<blockquote>
    <p>
        <strong>[Ренато Фашиати, гендиректор компании Rhaetian Railway]:</strong><br> «Нам не пришлось ничего менять в поезде или инфраструктуре, но мы 
        адаптировали технику так, чтобы можно было собрать 25 поездов вместе и обеспечить их синхронную работу».
    </p>
</blockquote>
<br class="clear">
<h5>
    <P>
        Этот пассажирский поезд попал в Книгу рекордов Гиннесса как самый длинный в мире. Он принадлежит швейцарскому железнодорожному оператору. Длина состава – один километр 900 метров. В нём сто вагонов.
    </P>
    <P>
        Поездом управляют семь машинистов и 21 помощник. Машинисты общаются по кабельному телефону.
    </P>
    <P>
        Поезд совершил 25-километровое путешествие по узкоколейной Ретийской железной дороге среди горных красот Альп. Маршрут в том числе пролегал по железнодорожным линиям Альбула и Бернина. Обе включены в список Всемирного наследия ЮНЕСКО.
    </P>
    <P>
        Рекорд уже зарегистрировали представители Книги Гиннесса. Достижение посвящено 175-летию швейцарских железных дорог.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

