@model List<Сomment>
@{
    ViewData["Title"] = "OnlyGoodleft";
}

<br class="clear">
<div class="text-center">
    <h2>
        <strong>Каждый год в России будут появляться 100 тысяч новых мест в школах</strong>
    </h2>
    <br class="clear">
    <img class="img-centre" src="~/images/demo/bottom1.jpg" alt="">
</div>
<br class="clear">
<h5>
    <strong>
        За три последние года построены новые средние учебные заведения на 1,34 миллиона учеников.
    </strong>
</h5>
<br class="clear">
<h5>
    <P>
        Вице-премьер российского правительства поделилась с журналистами планами по строительству новых современных школ в ближайшие годы: «мы ожидаем около 100 тысяч мест в 2018, 2019, 2020 году. И для нас это очень важно, потому что новые места — это не просто новое дополнительные места, это новое дополнительное место нового поколения».
    </P>
    <P>
        По словам чиновницы, объём финансирования, предусмотренного на эти цели, составляет 25 млрд рублей ежегодно. Она также отметила, что программа по строительству новых школ долгосрочная и рассчитана на ближайшее десятилетие. 
        «В прошлом году 94000 ребят пошли в абсолютно новые школы, которые представляют собой абсолютно новое качественное образовательное пространство»
    </P>
    <P>
        «Сейчас заложено финансирование на этот год 25 миллиардов и на следующий год заложено 25 миллиардов. И в том бюджете, который сейчас готовится, там ежегодное финансирование в этом размере», – сказала вице-премьер.
    </P>
    <P>
        Выступая в ходе посещения выставки Build School, посвящённой строительству новых школ, Голодец сообщила, что за три года в России было построено новых школ на 1 миллион 340 тысяч учащихся.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

