@model List<Сomment>
@{
    ViewData["Title"] = "Sport";
}

<br class="clear">
<div class="text-center">
    <h2>
        <strong>Скандал: в Бельгии футбольный клуб подделывал тесты на COVID-19</strong>
    </h2>
</div>
<br class="clear">
<h5>
    <p>
        В Бельгии разгорелся крупный скандал из-за того, что по меньшей мере один футбольный клуб для того, чтобы выходить на игры в лучшем составе, подделывал результаты тестов на COVID-19.
        За расследование дела взялась бельгийская генпрокуратура.
    </p>
    <p>
        В мошенничестве подозревают команду второго дивизиона  "Серен". Ради того, чтобы выйти в высшую лигу, руководство команды подделало результаты проведённого накануне ответственного матча тестирования игроков.
    </p>
</h5>
<br class="clear">
<img class="img-centre" src="~/images/demo/sport.jpg" alt="">
<br class="clear">
<h5>
    <P>
        В итоге команда выиграла у соперников, пойдя на крайние меры. Дело было так: незадолго до анонсированного матча, как сообщают спортивные СМИ, в команде произошла вспышка коронавируса. За несколько дней до игры все заявленные игроки (а это были лучшие из лучших) должны были пройти повторное тестирование, чтобы выяснить, все ли поправились. 
        Вместо этого руководство клуба пошло на обман. Тесты сдали не те, кто был болен, а футболисты из резервного состава команды, среди которых не было заразившихся.
    </P>
    <P>
        В итоге на игру с командой  "Вестерло" вышли спортсмены, состояние которых не было проверено. Обман вскрылся не сразу. По иронии судьбы, через некоторое время у "Серена" должен был состояться матч с командой "Ломмель", где была зафиксирована вспышка заболеваемости. 
        Тренер данной команды попросил бельгийскую федерацию перенести игру, но "Серен" был категорически против этого и потребовал в таком случае признать техпоражение данной команды. 
        В федерации с ними согласились, о чём потом очень пожалели. Позже следствие выяснило, что в это самое время  игроки "Серена" также не имели права выходить на поле из-за коронавируса, который поражал одного игрока за другим. В Лиге об этом никто не знал.
    </P>
    <P>
        Правда всплыла после того, как в командах, с которыми играли сереновцы, начались вспышки коронавируса. При этом, данный клуб постоянно играл в боевом составе и предоставлял документы с отрицательными тестами футболистов. 
        Отмечено, что  руководство клуба "Серен" при первых же визитах представителей прокуратуры призналось в махинациях, слишком много фактов было против них собрано. Вот только вину переложили на 60-летнего тренера команды Питера Керреманса.
    </P>
    <P>
        В итоге, данный человек, который много лет был наставником вышеуказанного клуба, взял на себя всю вину и был уволен. Скорее всего он больше никогда в жизни не сможет занять тренерское кресло. С команды за обман будут сняты 10 очков. 
        Расследование не закончено. В прокуратуре считают, что руководство клуба обо всём знало. Тренер, скорее всего, получил компенсацию за то, что взял на себя вину. 
        Если эти факты удастся доказать, клуб за то, что подвергал опасности здоровье соперников, получит штраф в размере не менее ста тысяч евро. 
        Тщательной проверке подвергнутся и остальные бельгийские футбольные команды.
    </P>
</h5>
<br class="clear">
<partial name="_CommentCardPartial" model="@Model"></partial>

