@model Person
@{
    ViewData["Title"] = "Unsubsribe";
}

<br class="clear">
<div>
    <h1 class="display-4">Хотите отписаться от рассылки?</h1>
</div>
<h4>Тогда просто введите адрес вашей электронной почты</h4>

<form asp-controller="Post" asp-action="Unsubsribe" method="post">
    <div class="form-group input-group mb-3">
        <input required name="Email" type="text" class="form-control">
        @*<input asp-for="Email" class="form-control">*@
        <button class="btn btn-primary" type="submit" id="button-addon2">Отписаться</button>
    </div>
    <span class="text-danger" asp-validation-for="Email"></span>
</form>
@section Scripts{

    <partial name="_ValidationScriptsPartial"></partial>
}
